@import "./variables";

.tblRegister {
  position: relative;

  .tblRegisterInner {
    margin-left: 200px;
    overflow-x: scroll;
  }
}

.tblRegister {
  text-wrap: nowrap;

  thead th {
    border-bottom: 1px solid #ddd;
    &:nth-child(1),
    &:nth-child(2) {
      overflow: hidden;
      position: absolute;
      z-index: 10;
      width: 100px;
      min-width: 100px;
      max-width: 100px;
      border-left-width: 0px;
      border-right-width: 2px;
    }

    &:nth-child(1) {
      left: 0;
    }

    &:nth-child(2) {
      left: 100px;
    }
  }

  tbody th {
    overflow: hidden;
    position: absolute;
    left: 0;
    z-index: 10;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    border-left-width: 0px;
    border-right-width: 2px;
    display: flex;

    &:nth-of-type(2) {
      justify-content: flex-end;
    }
  }

  th,
  td {
    font-size: 0.85em;
    padding: 7px;
    border-style: solid;
    border-left-width: 1px;
    border-color: #ddd;
  }

  tbody {
    th,
    td.registerCell {
      border-top-width: 1px;
    }

    th {
      font-weight: 400;
      cursor: pointer;

      .memberRowHeader {
        display: flex;
        width: 100%;

        > .memberName {
          flex: 1;
        }
      }
      
      > .memberLicence {
        margin-right: 20px;
      }
    }

    td.registerCell {
      cursor: pointer;

      &:hover, &.selected {
        background-color: #adb5bd;
      }

      &.disabled {
        background-color: #dee2e6;
      }
    }

    td.expanded {
      height: 80px;
      vertical-align: top;
      border-left: 0px;
      padding: 0;

      > div {
        position: absolute;
        left: 0;
        width: 100%;
        border-top: 1px solid #ddd;

        > ul.details {
          list-style-type: none;
          margin-top: 10px;
        }
      }
    }
  }
}
