@import "./variables";

.registerActions {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 5px;

  button {
    font-size: 0.9em;
  }
}

.tblRegister {
  position: relative;

  .tblRegisterInner {
    overflow: scroll;
    margin-left: 200px;
  }
}

.tblRegister {
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
  }
}

.tblRegister {
  text-wrap: nowrap;

  thead th {
    border-bottom: 1px solid #ddd;
    &:nth-child(1),
    &:nth-child(2) {
      overflow: hidden;
      position: absolute;
      z-index: 10;
      width: 100px;
      min-width: 100px;
      max-width: 100px;
      border-left-width: 0px;
      border-right-width: 2px;
    }

    &:nth-child(1) {
      left: 0;
    }

    &:nth-child(2) {
      left: 100px;
    }
  }

  tbody th {
    overflow: hidden;
    position: absolute;
    left: 0;
    z-index: 10;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    border-left-width: 0px;
    border-right-width: 2px;
    display: flex;

    &:nth-of-type(2) {
      justify-content: flex-end;
    }
  }

  th,
  td {
    font-size: 0.85em;
    padding: 7px;
    border-style: solid;
    border-left-width: 1px;
    border-color: #ddd;
  }

  tbody {
    th,
    td.registerCell {
      border-top-width: 1px;
    }

    th {
      font-weight: 400;
      cursor: pointer;

      .memberRowHeader {
        display: flex;
        width: 100%;

        > .memberName {
          flex: 1;
        }
      }
      
      > .memberLicence {
        margin-right: 20px;
      }
    }

    td.registerCell {
      cursor: pointer;

      &:hover, &.selected {
        background-color: #adb5bd;
      }

      &.disabled {
        background-color: #dee2e6;
      }
      
      &.loading {
        background-color: #f0f0f0;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 20px; /* Adjust the size of the spinner as needed */
          height: 20px; /* Adjust the size of the spinner as needed */
          border: 4px solid rgba(0, 0, 0, 0.3);
          border-top: 4px solid $dark; /* Color of the spinner */
          border-radius: 50%;
          animation: spin 1s linear infinite;
        }
        
        @keyframes spin {
          0% { transform: translate(-50%, -50%) rotate(0deg); }
          100% { transform: translate(-50%, -50%) rotate(360deg); }
        }
      }
    }

    td.expanded {
      height: 80px;
      vertical-align: top;
      border-left: 0px;
      padding: 0;

      > div {
        position: absolute;
        left: 0;
        width: 100%;
        border-top: 1px solid #ddd;

        > ul.details {
          list-style-type: none;
          margin-top: 10px;
        }
      }
    }
  }
}
