$dark: #262626;
$light: #f0f0f0;
$white: #ffffff;

$theme-colors: (
    "light":      $light,
    "dark":       $dark,
    "primary":    #333,
    "secondary":  #999,
    "info":       #236dd7,
    "success":    #139d5c,
    "warning":    #e0c914,
    "danger":     #ee1c08,
);
