<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'sjcmembers/common.css' %}" />
    <script type="text/javascript" src="{% static 'sjcmembers/common.js' %}" defer></script>

    {% block assets %}
    {% endblock assets %}

    <title>South Coast Jiu Jitsu - Manage Membership(s)</title>
</head>

<body>
    <div class="topBar">
        {% if user.is_authenticated %}<a href="/auth/logout" class="btn btn-light">Sign Out</a>{% endif %}
    </div>

    <nav class="navbar bg-dark">
        <div class="container">
            <div class="mx-3 my-4">
                <a class="navbar-brand scjj-logo" href="https://southamptonjiujitsu.com">South Coast Jiu Jitsu</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-md-6">
                {% if user.is_authenticated %}
                <div class="mb-5">
                    <ul id="accountLinks">
                        <li><a href="/profiles"><i class="bi bi-people-fill"></i><span>Profiles</span></a></li>
                        <li><a href="/licences"><i class="bi bi-card-heading"></i><span>Licences</span></a></li>
                        <li><a href="/pay"><i class="bi bi-cart-fill"></i><span>Pay</span></a></li>
                        <li><a href="/history"><i class="bi bi-clock-history"></i><span>History</span></a></li>
                    </ul>
                </div>
                {% endif %}

                <div>

                    {% block content %}

                    {% endblock content %}

                </div>
            </div>
        </div>
    </div>

</body>

</html>