{% extends "sjcmembers/_base.html" %}

{% block content %}

<div class="row justify-content-center mt-3">
    <div class="col-md-6">
        <h1>Make a Payment</h1>
        
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://cdn.sumup.store/2/th640/f95d0510-d909-4bff-9ff1-35e77a57eeb3.jpeg" class="img-fluid" style="object-fit:fill;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Single session: TJJF Jiu Jitsu (Adult)</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <a href="https://southampton-jitsu-club.sumupstore.com/product/adults-jitsu" class="btn btn-primary">Buy in shop</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://cdn.sumup.store/2/th640/cafada18-c6b9-44c7-ab5e-e58caa8cfc9b.jpeg" class="img-fluid" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Single session: TJJF Jiu Jitsu (Junior)</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <a href="https://southampton-jitsu-club.sumupstore.com/product/juniors-jitsu" class="btn btn-primary">Buy in shop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}