{% extends "_base.html" %}

{% block assets %}
{% load static %}
<script type="text/javascript" src="{% static 'member.js' %}" defer></script>
{% endblock %}

{% block content %}

<div class="p-3 containerInner">

    <nav aria-label="breadcrumb" class="text-light">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/members">Members</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ student.name }}</li>
        </ol>
    </nav>

    <div class="mb-3 row">
        <div>
            <h1 class="d-inline-block pe-2">{{ student.name }}</h1>

            {% if student.has_licence and not student.is_licence_expired%}
            <span class="badge bg-success align-middle">Licenced</span>
            {% elif not student.has_licence and student.remaining_trial_sessions > 0 %}
            <span class="badge bg-warning align-middle">Trial</span>
            {% else %}
            <span class="badge bg-danger align-middle">Expired</span>
            {% endif %}
        </div>
        <p class="mb-0">Member since: {{ student.join_date }} {% if student.added_by %}<span class="text-secondary">(Added by: {{ student.added_by }}){% endif %}</span></p>
    </div>

    <div class="rounded-3 bg-white text-dark" id="copy">
        <ul class="nav nav-tabs" id="tabsMember" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tabProfile" data-bs-toggle="tab" data-bs-target="#tabCopyProfile"
                    type="button" role="tab" aria-controls="tabCopyProfile" aria-selected="false"
                    data-tabkey="profile">Profile</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tabLicence" data-bs-toggle="tab" data-bs-target="#tabCopyLicence"
                    type="button" role="tab" aria-controls="tabCopyLicence" aria-selected="false"
                    data-tabkey="licence">Licence</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tabNotes" data-bs-toggle="tab" data-bs-target="#tabCopyNotes" type="button"
                    role="tab" aria-controls="tabCopyNotes" aria-selected="false" data-tabkey="notes">Notes</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tabPayments" data-bs-toggle="tab" data-bs-target="#tabCopyPayments"
                    type="button" role="tab" aria-controls="tabCopyPayments" aria-selected="false"
                    data-tabkey="payments">Payments</button>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade p-3" id="tabCopyProfile" role="tabpanel" aria-labelledby="tabProfile">
                <form id="frmUpdateMemberProfile" data-csrf-token="{{ csrf_token }}" data-uuid="{{ student.uuid }}">
                    <div class="row">
                        <div class="col-lg-9 col-sm-12">
                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" name="name" class="form-control" value="{{ student.name }}">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label">Date of Birth</label>
                                <div class="col-sm-10">
                                    <input type="date" name="dob" class="form-control"
                                        value="{{ student.dob|date:'Y-m-d' }}">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label">Phone Number</label>
                                <div class="col-sm-4">
                                    <input type="text" name="phone" class="form-control" value="{{ student.phone }}">
                                </div>
                                <label class="col-sm-2 col-form-label">Email address</label>
                                <div class="col-sm-4">
                                    <input type="text" name="email" class="form-control" value="{{ student.email }}">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label">Address</label>
                                <div class="col-sm-10">
                                    <textarea name="address" rows="6"
                                        style="width:100%; resize: none; padding: 10px;">{{ student.address }}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12 mb-3">
                            <h2>Signed Up For</h2>
                            <ul>
                                {% for uuid, class in classes.items %}
                                <li><a href="/attendance">{{ class }}</a>
                                    {% endfor %}
                            </ul>
                            <div class="row">
                                <div class="col-lg-12 col-md-6 col-sm-12">
                                </div>
                                <div class="col-lg-12 col-md-6 col-sm-12">
                                </div>
                            </div>
                        </div>

                        <div class="p-3 text-end">
                            <button type="submit" class="btn btn-primary text-white" id="btnUpdate">Save Member</button>
                            <button type="button" class="btn btn-danger text-white" id="btnDelete"
                                data-uuid="{{ student.uuid }}" data-csrf-token="{{ csrf_token }}">Delete Member</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane fade p-3" id="tabCopyLicence" role="tabpanel" aria-labelledby="tabLicence">
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-10 col-lg-8">
                        {% if student.has_licence and not student.is_licence_expired %}
                        <div class="alert alert-success" role="alert">
                            <p>Student is fully licenced.</p>
                            <ul class="mb-0">
                                <li>Licence number: {{ student.licence_no }}</li>
                                <li>Expires on: {{ student.licence_expiry_date }}</li>
                            </ul>
                            <div class="pt-2"><button class="btnUpdateLicence btn btn-primary" type="button">Update
                                    Licence</button></div>
                        </div>
                        {% elif student.is_licence_expired %}
                        <div class="alert alert-danger" role="alert">
                            Student licence expired on {{ student.licence_expiry_date }}.
                            <div class="pt-2"><button class="btnUpdateLicence btn btn-primary" type="button">Renew
                                    Licence</button></div>
                        </div>
                        {% else %}
                        <div class="alert alert-warning" role="alert">
                            Student is not licenced.
                            <div class="pt-2"><button class="btnUpdateLicence btn btn-primary" type="button">Create
                                    Licence</button></div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="tab-pane fade p-3" id="tabCopyNotes" role="tabpanel" aria-labelledby="tabNotes">
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-10 col-lg-8">
                        <div class="mb-3 text-end">
                            <button type="button" class="btn btn-primary" id="btnAddNote">Add Note</button>
                        </div>
                        {% if not student.has_notes %}
                        <p class="text-center">No notes</p>
                        {% endif %}
                        <ul class="comments">
                            {% for note in notes %}
                            <li class="mb-3 p-2">
                                <span class="commentAuthor">{{ note.author_name }} ({{ note.time|date:'M. d,
                                    Y'}}):</span>
                                <span class="commentText">{{ note.text }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade p-3" id="tabCopyPayments" role="tabpanel" aria-labelledby="tabPayments">
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-10 col-lg-8">
                        <div class="mb-3 text-end">
                            <button type="button" class="btn btn-primary" id="btnAddPayment">Add Payment</button>
                        </div>
                        <h2>Unused Payments</h2>
                        {% if payments|length %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Payment Taken</th>
                                    <th>For class</th>
                                    <th>Next redeemable session</th>
                                </tr>
                            </thead>
                            {% for payment in payments %}
                            <tbody>
                                <tr>
                                    <td>{{ payment.time|date:'M. d, Y H:i:s' }}</td>
                                    <td>{{ payment.course }}</td>
                                    <td>{{ payment.next_session_date|date:'M. d, Y' }}</td>
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                        {% else %}
                        <p class="text-center">No unused payments
                            {% endif %}

                        <h2>Historical Payments</h2>
                        {% if not payments_historical %}
                        <p class="text-center">No historical payments
                            {% else %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Payment Taken</th>
                                    <th>For class</th>
                                </tr>
                            </thead>
                            {% for payment in payments_historical %}
                            <tbody>
                                <tr>
                                    <td>{{ payment.time|date:'M. d, Y H:i:s' }}</td>
                                    <td>{{ payment.course }}</td>
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                        <p class="text-end">Showing up to last 30 payments.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- End body -->

<div class="modal fade" id="mdlUpdateLicence">
    <div class="modal-dialog modal-dialog-centered modal-sm text-dark">
        <div class="modal-content">
            <form id="frmLicence" data-uuid="{{ student.uuid }}">
                <div class="modal-header">
                    <h2>Update Licence</h2>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="mb-3 row">
                        <label class="col-sm-4 col-form-label">Licence Number</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" name="number" placeholder="Number" required
                                value="{{ student.licence_no|default_if_none:'' }}">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-4 col-form-label">Expiry Date</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="date" name="expire_date"
                                value="{{ prospective_licence_expiry }}">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnLicenceStudent">Save Licence</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlNote">
    <div class="modal-dialog modal-dialog-centered modal-sm text-dark">
        <div class="modal-content">
            <form id="frmNote" data-uuid="{{ student.uuid }}" data-csrf-token="{{ csrf_token }}">
                <div class="modal-header">
                    <h2>Add Note</h2>
                </div>
                <div class="modal-body">
                    <textarea rows="5" class="form-control" name="text"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnSaveNote">Save Note</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlPayment">
    <div class="modal-dialog modal-dialog-centered modal-sm text-dark">
        <div class="modal-content">
            <form id="frmPayment" data-uuid="{{ student.uuid }}" data-csrf-token="{{ csrf_token }}">
                <div class="modal-header">
                    <h2>Add Payment</h2>
                </div>
                <div class="modal-body">
                    <select class="form-select" name="product">
                        {% for uuid, class in classes.items %}
                        <option value="{{ uuid }}">{{ class }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnSavePayment">Save Payment</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}