{% extends "_base.html" %}

{% block content %}

<div class="p-3 containerInner">

<nav aria-label="breadcrumb" class="text-light">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/attendance">Attendance</a></li>
    <li class="breadcrumb-item active" aria-current="page">Standard Jiu Jitsu (Mon/Thur)</li>
  </ol>
</nav>

<h1>Standard Jiu Jitsu (Mon/Thur)</h1>

<div class="rounded-3 bg-light p-3 text-dark" id="copy">
    <table style="width:100%" class="table tblStudents">
        <thead>
        <tr>
            <th>Name</th>
            <th>Membership</th>
            {% for c in classes %}
            <th class="classHeader">{{c.d}}</th>
            {% endfor %}
        </tr>
        </thead>
    </table>
</div>

</div>

<!-- End body -->

<div class="modal" id="mdlAttendance">
    <div class="modal-dialog text-dark">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Log Attendance:</h2>
            </div>
            <div class="modal-body">
                <form method="POST" action="/attendance/log" id="frmAttendance">
                    {% csrf_token %}
                    <input type="hidden" name="student_uuid" id="mdlAttendance_studentUuid">
                    <div class="mb-3 row">
                        <label for="name" class="col-sm-2 col-form-label">Student name</label>
                        <div class="col-sm-10">
                            <input type="text"  readonly class="form-control-plaintext" id="mdlAttendance_studentName">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="date" class="col-sm-2 col-form-label">Session date</label>
                        <div class="col-sm-10">
                            <input type="text" name="sess_date" readonly class="form-control-plaintext" id="mdlAttendance_sessionDate">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="paid" class="col-sm-2 col-form-label">Paid?</label>
                        <div class="col-sm-10">
                            <input type="checkbox" class="form-check-input mt-2" name="paid" id="mdlAttendance_paid">
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3" value="confirm" id="mdlAttendance_submit">Confirm</button>
                        <button type="submit" class="btn btn-secondary mb-3" value="clear" id="mdlAttendance_clear">Clear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script id="dataClasses" type="application/json">{{dataClasses|safe}}</script>
<script type="text/javascript" language="javascript">
    const membershipBadge = (m, t, r) => {
        const expired = sb => {
            sb.classList.add('bg-danger');
            sb.textContent = 'Expired';
            return sb.outerHTML;
        }

        let b = document.createElement('span');
        b.classList.add('badge');
        switch(m) {
            case 'licenced':
                if (r.licence.exp) {
                    return expired(b);
                }
                b.classList.add('bg-success');
                b.textContent = 'Licenced';
                return b.outerHTML;
            case 'trial':
                if (r.rem_trial_sessions <= 0) {
                    return expired(b);
                }
                b.classList.add('bg-warning');
                b.classList.add('text-dark');
                b.textContent = 'Trial';
                return b.outerHTML;
        }
    };

    const attendanceBadge = r => paid => {
        let b = document.createElement('span'),
            i = document.createElement('i');
        b.classList.add('badge');

        if (paid) {
            i.classList.add('fs-8');
            i.classList.add('bi-check');
            i.classList.add('me-1');
            b.classList.add('bg-primary');
            b.appendChild(i);
            b.appendChild(document.createTextNode('Paid'));
            return b.outerHTML;
        }

        b.classList.add('bg-secondary');
        b.textContent = 'Attending';
        return b.outerHTML;
    }

    const studentClassAttendance = date => (m, t, r) => {
        return r.attendances.includes(date) ? attendanceBadge(r)(r.paid.includes(date)): '';
    }

    const dataClasses  = JSON.parse(document.getElementById('dataClasses').textContent);

    const details = row => {
        let list = document.createElement('ul'),
            li   = (l, c) => {
                let r = document.createElement('li'),
                    el = document.createElement('label');
                el.appendChild(document.createTextNode(l + ': '));
                r.appendChild(el);
                r.appendChild(document.createTextNode(c));
                return r;
            };

        list.classList.add('details');

        switch(row['membership']) {
            case 'licenced':
                list.appendChild(li('Licence No.', row['licence']['no']));
                list.appendChild(li('Licence Expires', row['licence']['exp_time']));
                break;
            case 'trial':
                list.appendChild(li('Remaining Trial Sessions', row['rem_trial_sessions']));
        }

        return list;
    }

    const table = $('.tblStudents').DataTable({
        ajax: {
            url: "/api/members",
            dataSrc: "",
        },
        columns: [
            {"data":"name", "className": "studentName"},
            {"data":"membership", "render": membershipBadge, "className": "studentMembership"},
        ].concat(dataClasses.map(function (c) {
            return {
                "className": "session",
                "createdCell": (td, cd, rd, r, co) => {
                    td.setAttribute('data-sessdate', c.d);
                },
                "data": null,
                "orderable": false,
                "render": studentClassAttendance(c.d),
            }
        })),
        paging: false,
        scrollX: true,
        scrollCollapse: true,
    });

    $('.tblStudents').on('click', 'td.studentName,td.studentMembership', function (e) {
        let row  = table.row(this),
            data = row.data();

        if (row.child.isShown()) {
            row.child.hide();
            return;
        }

        row.child(details(data)).show();
    });

    const mdlAttendanceInner = document.getElementById('mdlAttendance'),
          mdlAttendance = new bootstrap.Modal(mdlAttendanceInner),
          frmAttendance = $('#frmAttendance');

    $('.tblStudents').on('click', 'td.session', function (e) {
        let cell = table.cell(this).node(),
            row = table.row(this).data(),
            date = cell.getAttribute('data-sessdate');

        mdlAttendanceInner.querySelector('#mdlAttendance_sessionDate').value = date;
        mdlAttendanceInner.querySelector('#mdlAttendance_studentUuid').value = row.uuid;
        mdlAttendanceInner.querySelector('#mdlAttendance_studentName').value = row.name;
        mdlAttendanceInner.querySelector('#mdlAttendance_paid').checked = row.paid.includes(date);

        mdlAttendance.show();
    });

    frmAttendance.on('click', '#mdlAttendance_submit', function (e) {
        $.post('/api/attendance/log', frmAttendance.serialize())
            .done(function(d) {
                if (d.hasOwnProperty('error')) {
                    alert(d.error);
                } else {
                    table.ajax.reload();
                }
                mdlAttendance.hide();
            });

        e.preventDefault();
    });

    frmAttendance.on('click', '#mdlAttendance_clear', function (e) {
        $.post('/api/attendance/clear', frmAttendance.serialize())
            .done(function(d) {
                table.ajax.reload();
                mdlAttendance.hide();
            });
        e.preventDefault();
    });
</script>

{% endblock %}
