{% extends "_base.html" %}

{% block assets %}
{% load static %}
<script type="text/javascript" src="{% static 'attendance.js' %}" defer></script>
{% endblock %}

{% block content %}

<div class="p-3 containerInner">

<nav aria-label="breadcrumb" class="text-light">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/attendance">Attendance</a></li>
    <li class="breadcrumb-item active" aria-current="page">Standard Jiu Jitsu (Mon/Thur)</li>
  </ol>
</nav>

<h1>Standard Jiu Jitsu (Mon/Thur)</h1>

<div class="rounded-3 bg-light p-3 text-dark" id="copy">
    <table style="width:100%" class="table tblStudents">
        <thead>
        <tr>
            <th>Name</th>
            <th>Membership</th>
            {% for c in classes %}
            <th class="classHeader">{{c.d}}</th>
            {% endfor %}
        </tr>
        </thead>
    </table>
</div>

</div>

<!-- End body -->

<div id="tblStudents_buttons">
    <button class="btn btn-primary" id="btnNewMember">New Member <i class="bi bi-plus"></i></button>
</div>

<div class="modal fade" id="mdlNewMember">
    <div class="modal-dialog modal-dialog-centered modal-sm text-dark">
        <div class="modal-content">
            <div class="modal-body">
                <form id="frmNewMember">
                    {% csrf_token %}
                    <input type="hidden" name="student_uuid" id="mdlNewMember_studentUuid">
                    <div class="mb-3 row">
                        <div class="col-sm-12">
                            <input placeholder="Name" type="text" class="form-control" name="studentName" id="mdlNewMember_studentName">
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3" value="confirm" id="mdlNewMember_submit">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlAttendance">
    <div class="modal-dialog text-dark">
        <div class="modal-content">
            <form method="POST" id="frmAttendance">
            <div class="modal-header">
                <h2>Log Attendance:</h2>
            </div>
            <div class="modal-body">
                    {% csrf_token %}
                    <input type="hidden" name="student_uuid" id="mdlAttendance_studentUuid">
                    <div class="mb-3 row">
                        <label for="name" class="col-sm-4 col-form-label">Student name</label>
                        <div class="col-sm-8">
                            <input type="text"  readonly class="form-control-plaintext" id="mdlAttendance_studentName">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="date" class="col-sm-4 col-form-label">Session date</label>
                        <div class="col-sm-8">
                            <input type="text" name="sess_date" readonly class="form-control-plaintext" id="mdlAttendance_sessionDate">
                        </div>
                    </div>
                    <div class="mb-3 text-center">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="payment" id="mdlAttendance_attending" value="attending">
                            <label class="form-check-label" for="mdlAttendance_attending">Not Paid</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="payment" id="mdlAttendance_paid" value="paid">
                            <label class="form-check-label" for="mdlAttendance_paid">Paid</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="payment" id="mdlAttendance_complementary" value="complementary">
                            <label class="form-check-label" for="mdlAttendance_complementary">Complementary</label>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" value="confirm" id="mdlAttendance_submit">Confirm</button>
                <button type="submit" class="btn btn-primary" value="clear" id="mdlAttendance_clear">Clear</button>
                <button type="button" class="btn btn-secondary" id="mdlAttendance_cancel">Cancel</button>
            </div>
            </form>
        </div>
    </div>
</div>

<script id="dataClasses" type="application/json">{{dataClasses|safe}}</script>
{% endblock %}
