{% extends "_base.html" %}

{% block content %}

<div class="p-3 containerInner">

    <nav aria-label="breadcrumb" class="text-light">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/members">Members</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ student.name }}</li>
        </ol>
    </nav>

    <h1>{{ student.name }}</h1>

    <div class="rounded-3 bg-light p-3 text-dark" id="copy">
        <div class="row">
            <div class="col-lg-9 col-sm-12">

                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Member Since</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Date of Birth</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" value="{{ student.dob }}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Phone Number</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" value="{{ student.phone }}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Email address</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" value="{{ student.email }}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Address</label>
                    <div class="col-sm-10">
                        <textarea rows="6" style="width:100%" readonly>{{ student.address }}</textarea>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-sm-12">
                <h2>Signed Up For</h2>
                <ul>
                    <li><a href="/attendance">Standard Jiu Jitsu (Mon/Thur)</a></li>
                </ul>
            </div>

            <h2>Licence</h2>
            <div class="p-3">
            {% if student.has_licence and not student.is_licence_expired %}
            <div class="alert alert-success" role="alert">
                <p>Student is fully licenced.</p>
                <ul>
                    <li>Licence number: {{ student.licence_no }}</li>
                    <li>Expires on: {{ student.licence_expiry_date }}</li>
                </ul>
            </div>
            {% else %}

            {% if student.is_licence_expired %}
            <div class="alert alert-danger" role="alert">
                <p>Student licence expired on {{ student.licence_expiry_date }}</p>
                {% else %}
                <div class="alert alert-warning" role="alert">
                    <p>Student is not licenced</p>
                    {% endif %}

                    <div class="row justify-content-center">
                        <div class="col-sm-12 col-md-6 col-lg-5">
                            <form id="frmLicence">
                                {% csrf_token %}
                                <div class="mb-3 row">
                                    <label class="col-sm-4 col-form-label">Licence Number</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" name="number" placeholder="Number">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-4 col-form-label">Expiry Date</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="date" name="expire_date"
                                               value="{{ prospective_licence_expiry }}">
                                    </div>
                                </div>
                                <button class="btn btn-primary" id="btnLicenceStudent" data-uuid="{{ student.uuid }}">
                                    Renew Licence
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>


<script type="text/javascript" language="javascript">
document.getElementById('btnLicenceStudent').addEventListener('click', function (e) {
    $.post('/api/members/' + this.dataset.uuid + '/licences/add', $('#frmLicence').serialize())
        .done(function(d) {
            if (d.hasOwnProperty('error')) {
                alert(d.error);
            } else {
                location.reload();
            }
        });
    e.preventDefault()
});


</script>

        {% endblock %}
