{% extends "sjcadmin/_base.html" %}

{% block assets %}
{% load static %}
<script type="text/javascript" src="{% static 'sjcadmin/members.js' %}" defer></script>
{% endblock %}

{% block content %}

<div class="p-3 containerInner">

<nav aria-label="breadcrumb" class="text-light">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Members</li>
  </ol>
</nav>

<h1>Members</h1>

<div id="tblStudents_buttons">
    <button class="btn btn-primary" id="btnNewMember">New Member <i class="bi bi-plus"></i></button>
</div>

<div class="rounded-3 bg-white p-3 text-dark" id="copy">
    <div id="tblStudents">
    <table style="width:100%" class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Membership</th>
        </tr>
        </thead>
    </table>
    </div>
</div>

</div>

<!-- End body -->

<div class="modal fade" id="mdlNewMember">
    <div class="modal-dialog modal-dialog-centered modal-sm text-dark">
        <div class="modal-content">
            <div class="modal-body">
                <form id="frmNewMember">
                    {% csrf_token %}
                    <input type="hidden" name="student_uuid" id="mdlNewMember_studentUuid">
                    <div class="mb-3 row">
                        <div class="col-sm-12">
                            <input placeholder="Name" type="text" class="form-control" name="studentName" id="mdlNewMember_studentName">
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3" value="confirm" id="mdlNewMember_submit">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
