{% extends "sjcadmin/_base.html" %}

{% block assets %}
{% load static %}
<script type="text/javascript" src="{% static 'sjcadmin/reports.js' %}" defer></script>
{% endblock %}

{% block content %}

<div class="p-3 containerInner">

    <nav aria-label="breadcrumb" class="text-light">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Reporting</li>
        </ol>
    </nav>

    <h1>Reporting</h1>

    <div class="container-lg">
        <div class="row mt-3" id="copy">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <a class="rounded-3 text-dark bg-white p-3 report-link" data-report="attendance">
                    <span class="btn-icon"><i class="bi bi-calendar-fill"></i></span>
                    <span class="ps-3 title">Attendance</span>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- End body -->

<div class="modal fade report-modal" id="mdlReportAttendance" data-report="attendance">
    <div class="modal-dialog text-dark">
        <div class="modal-content">
            <form method="POST" id="frmReportAttendance" action="/reports/attendance/download">
                <div class="modal-header">
                    <h2 class="modal-title">Download Attendance Report</h2>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label>Download for:</label>
                        {% for uuid, name in products %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="product" value="{{ uuid }}" {% if forloop.counter == 1 %}checked{% endif %}>
                            <label class="form-check-label">{{ name }}</label>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row g-3">
                        <div class="col">
                            <label>From:</label>
                            <input type="date" name="earliest" class="form-control" aria-label="Start date" value="{{ attendance_default_earliest }}" required>
                        </div>
                        <div class="col">
                            <label>To:</label>
                            <input type="date" name="latest" class="form-control" aria-label="End date" value="{{ attendance_default_latest }}" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" value="confirm"
                        id="mdlReportAttendance_submit">Confirm</button>
                    <button type="button" class="btn btn-secondary btn-cancel" id="mdlReportAttendance_cancel">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}