html, body {
    height: 100%;
}

body {
    font-size: 0.9em;
}

.main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

h1 {
    font-size: 2em;
}

.tblStudents th, td {
    border-left-width: 1px;
    font-size: 0.85em;
}

.tblStudents .studentMembership {
    border-right-width: 2px;
}

.tblStudents .studentName, .tblStudents .studentMembership {
    border-left-width: 0;
}

.tblStudents td.studentName, .tblStudents td.studentMembership {
    white-space: nowrap;
    cursor: pointer;
}

.tblStudents tr:hover {
    background-color: #ddd;
}

.tblStudents .classHeader {
    white-space: nowrap;
}

.tblStudents ul.details {
    list-style-type: none;
    margin: 0;
}

.tblStudents ul.details label {
    width: 200px;
}