$bootstrap-icons-font: "bootstrap-icons" !default;
$bootstrap-icons-font-dir: "./fonts" !default;
$bootstrap-icons-font-file: "#{$bootstrap-icons-font-dir}/#{$bootstrap-icons-font}" !default;

@import "./assets/_common/fonts.scss";

@import "./assets/variables";
@import "bootstrap/scss/bootstrap.scss";
// @import "bootstrap-icons/font/bootstrap-icons.scss";
// @import "~datatables.net-bs5/css/dataTables.bootstrap5.css";

@import "./assets/legacy.scss";

.table tr th:first-of-type,
.table tr td:first-of-type {
  border-left-width: 0px !important;
}

.table-hover tr {
  cursor: pointer;
}

.spinnerWrapper {
  display: flex;
  justify-content: center;
}

.memberSubHeading .text-secondary {
  text-wrap: nowrap;
}

.inlineForm {
  display: flex;
  flex-direction: row;

  .field {
    flex: 1;
    margin-right: 5px;
  }

  .controls {
    display: flex;
    gap: 5px;
  }
}

li.signedUpCourse {
  position: relative;

  button.remove {
    position: absolute;
    right: 0;
    padding: 0 5px;
  }
}
